body {
    background-color: #a3dfe7; /* light yellow background */
    font-family: Arial, sans-serif;
    color: #333;
  }
  h1 {
      text-align: center;
  }
  #grocery-app {
    max-width: 600px;
    max-height:1000px ;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f2e5a2; /* border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #grocery-list {
    list-style-type: none;
    padding: 0;
  }
  #grocery-list li {
    padding: 10px;
    background-color: #ffffe0; /* light yellow */
    border-bottom: 1px solid #f2e5a2;
  }
  #grocery-list li:last-child {
    border-bottom: none;
  }
  .grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  .grocery-item button {
    background-color: #ffd700; /* golden yellow */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  #add-item-form input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    width: calc(100% - 85px);
  }
  #add-item-form button {
    width: 60px;
    background-color: #ffd700; /* golden yellow */
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }